lab1/.idea/
lab1/cmake-build-debug/
lab1/CMakeLists.txt

lab2/.idea/
lab2/cmake-build-debug/
lab2/CMakeLists.txt

lab3/.idea/
lab3/cmake-build-debug/
lab3/CMakeLists.txt

lab4/.idea/
lab4/cmake-build-debug/
lab4/CMakeLists.txt

lab5/.idea/
lab5/cmake-build-debug/
lab5/CMakeLists.txt

lab6/.idea/
lab6/cmake-build-debug/
lab6/CMakeLists.txt

lab7/.idea/
lab7/cmake-build-debug/
lab7/CMakeLists.txt

lab8/.idea/
lab8/cmake-build-debug/
lab8/CMakeLists.txt